
{% extends "layout.html" %}
{% block content %}
    <!-- #1: html taking in allWeather information-->
      Please enter any of the information below you would like allWeather information on and click submit.<br>
      <div class="content-section">
          <form method="Post" action="">
            {{ form.hidden_tag() }}
            <fieldset class = "form-group">
              <legend class="border-bottom mb-4">Location details</legend>
              <div class-"form-group">
                {{ form.city.label(class="form-control-label")}}
                {% if form.city.errors %}
                  {{ form.city(class="form-control form-control-lg is-invalid")}}
                  <div class="invalid-feedback">
                    {% for errors in form.city.errors %}
                      <span>{{ error }} </span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.city(class="form-control form-control-lg")}}
                {% endif %}
                
              </div>
              <div class-"form-group">
                {{ form.state.label(class="form-control-label")}}
                {% if form.state.errors %}
                  {{ form.state(class="form-control form-control-lg is-invalid")}}
                  <div class="invalid-feedback">
                    {% for errors in form.state.errors %}
                      <span>{{ error }} </span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.state(class="form-control form-control-lg")}}
                {% endif %}
              </div>
              <div class-"form-group">
                {{ form.country.label(class="form-control-label")}}
                {% if form.country.errors %}
                  {{ form.country(class="form-control form-control-lg is-invalid")}}
                  <div class="invalid-feedback">
                    {% for errors in form.country.errors %}
                      <span>{{ error }} </span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.country(class="form-control form-control-lg")}}
                {% endif %}
              </div>
            </fieldset>
            <div class="form-group">
              {{ form.submit(class="btn btn-outline-info")}}
              </div>
          </form>
        </div>
      <br>
      <br>

      <div id="Today">Date: 
		<script>
		var today = new Date();
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();

		today = mm + '/' + dd + '/' + yyyy;
		document.write(today);
		</script>
		</div>
      <div id="TempToday">Current Temperature: {{ allWeather[0]['weather']['current_Temp'] }} F</div>
      <div id="HighToday">High Today: {{ allWeather[0]['weather']['temp_high'] }} F</div>
      <div id="LowToday">Low  Today: {{ allWeather[0]['weather']['temp_low'] }} F</div>
      <div id="HumidityToday">Humidity: {{ allWeather[0]['weather']['humidity'] }}%</div>
      <div id="WindToday">Wind: {{ allWeather[0]['weather']['wind'] }} MPH</div>
      <div id="WeatherToday">Today's forecast: {{ allWeather[0]['weather']['sky'] }}</div>
	  <div id="Sunrise">Sunrise: {{ allWeather[0]['sun_info']['sunrise'] }}</div>
	  <div id="Sunset">Sunset: {{ allWeather[0]['sun_info']['sunset'] }}</div>
      <!-- paragraph break -->
      <!-- set 5 boxes for 5 day forecast -->
      <!--
	  {% for days in allWeather[1] %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{days.date}}</a>
            </div><p class="article-content">      
              High: {{days.high}} F<br>
              Low: {{days.low }} F<br>
              Humidity: {{days.humidity}}<br>
              Wind: {{days.wind}}<br>
              Weather: {{days.allWeather}}<br>
              Sunrise: {{days.sunrise}}<br>
              Sunset: {{days.sunset}}<br>
            </div>
          </div>
        </article>
      {% endfor %} -->
{% endblock content %}
